In [10]:
import os
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/diegocmr/bootcamp_ia/main/bootcamp-solicitacoescredito.csv')

In [3]:
df

,numero_solicitacao,razaoSocial,nomeFantasia,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,primeiraCompra,prazoMedioRecebimentoVendas,titulosEmAberto,...,periodoDemonstrativoEmMeses,custos,anoFundacao,intervaloFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade,limiteEmpresaAnaliseCredito,dataAprovadoNivelAnalista
0,1,James Richardson-Patel,Alexandra Williams,KEBE17609492220843,0,0.252448,0.0,2015-12-10T00:00:00,0,0.00,...,12.0,0.0,2003.0,Acima de 17 anos,90000.0,False,True,1.000000,43200.0,2020-02-03T20:57:33
1,2,Dr. Geoffrey Walsh,Mr. Darren Arnold,JRBK88908250677300,0,0.000000,NaN,2019-06-12T17:28:31,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
2,3,Joanna Hudson,Dr. David Rees,GCVQ28531614261293,4,0.624777,0.0,2019-11-27T00:00:00,0,0.00,...,7.0,0.0,2014.0,De 6 a 10 anos,20000.0,False,True,1.000000,4320.0,2020-02-04T16:40:49
3,4,Gordon Jones-Hopkins,Sara Reid-Robson,KJND32266018316396,20,0.000000,NaN,2017-02-13T17:20:27,0,0.00,...,12.0,0.0,2013.0,De 6 a 10 anos,30000.0,False,True,0.000000,5920.0,2020-02-04T16:37:52
4,5,Nigel Lee,Dr. Stanley Duncan,CGQN15826802440348,20,0.454088,0.0,2010-07-13T00:00:00,20,1486.95,...,9.0,40680051.0,2002.0,Acima de 17 anos,75000.0,False,False,1.000000,89000.0,2020-02-04T15:06:28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8968,9041,Leah Williams,Georgia Booth,YKGZ02907098931653,149,0.306580,0.0,2006-04-26T00:00:00,59,599964.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.990876,NaN,NaN
8969,9042,Mr. Jordan Stevens,Miss Ellie Kelly,UCBM91111020900951,23,0.329796,0.0,2016-08-03T00:00:00,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.958869,NaN,NaN
8970,9043,Mr. Barry Wells,Danielle Hudson,CLDB61185288622179,3,0.383919,0.0,2018-10-25T00:00:00,4,2933.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
8971,9044,Keith Jones,Steven Kennedy-Jones,BRJP37453437154592,11,0.424099,0.0,2011-08-10T00:00:00,31,559679.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.994786,NaN,NaN
8972,9045,Cheryl Johnson,Chelsea Kay-Sinclair,COZD54939108010752,4,0.365041,0.0,2009-05-27T00:00:00,56,13640.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN

In [26]:
df.shape

(8973, 38)

In [6]:
dict_quebra = {}
for col in df.columns:
    unicos = df[col].unique()
    len_unicos = len(unicos)
    if len_unicos <= 10:
        for unico in unicos:
            df[df[col]==unico].to_csv(col+'_'+str(unico)+'.csv')

In [7]:
for col in dict_quebra:
    print (col)
    for dataframe in dict_quebra[item]:
        dataframe.to_csv('analises_clusters/'+col+'_'+dataframe[col].unique()+'.csv')

In [24]:
matriz = []
lista_colunas = []
for item in os.listdir(os.getcwd()):
    if item.split('.')[-1]=='csv':
        sub_matriz = [item]
        df = pd.read_csv(item)
        for col in df.columns:
            if df.dtypes[col] != 'object':
                lista_colunas.append(col)
                sub_matriz.append(df[col].mean())
        matriz.append(sub_matriz)
matriz = pd.DataFrame(matriz)
matriz.columns = lista_colunas[0:32]
matriz.to_csv('analises_clusters/analise_inicial.csv')

In [18]:
df.dtypes['numero_solicitacao'] == 'int64'

True

In [ ]:
#colunas categoricas < 10 unicos
percentualProtestos
status
definicaoRisco
intervaloFundacao
restricoes
empresa_MeEppMei

In [19]:
df.groupby(by = col).count()

,razaoSocial,nomeFantasia,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,primeiraCompra,prazoMedioRecebimentoVendas,titulosEmAberto,valorSolicitado,...,periodoDemonstrativoEmMeses,custos,anoFundacao,intervaloFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade,limiteEmpresaAnaliseCredito,dataAprovadoNivelAnalista
numero_solicitacao,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
3,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9041,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
9042,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
9043,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
9044,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
9045,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0